/* Font styles */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* font Section */
.fresh {
  font-weight: bold;
  font-size: 65px;
}
/* Things which are common */
.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.common-orange-color {
  color: #e95a08;
}
/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  gap: 500px;
}
.navlinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}
li:nth-child(3) {
  color: rgba(137, 135, 161, 1);
}
.navlinks li {
  list-style: none;
}
.navlinks a {
  text-decoration: none;
  color: black;
}
.navHome {
  color: rgba(37, 36, 50, 1);
}

.navlink .fade {
  color: #8987a1;
}

/* Banner Styles */
.banner-container {
  display: flex;
  align-items: center;
  height: 461px;
}
.banner-container .banner-left p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.banner-left {
  display: block;
  margin-top: 85px;
}

/* For Iphone 14 & 15 Pro Max */
@media screen and (max-width: 430px) {
  .navlinks :nth-child(1),
  .navlinks:nth-child(2),
  .navlinks:nth-child(3) {
    display: none;
  }
}
