/* Font styles */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Things which are common */
.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.common-orange-color {
  color: #e95a08;
}
.common-fade-color {
  color: #8987a1;
  font-size: 22px;
}
/* Universal Selector */
* {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  gap: 500px;
}
.navlinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}
li:nth-child(3) {
  color: rgba(137, 135, 161, 1);
}
.navlinks li {
  list-style: none;
}
.navlinks a {
  text-decoration: none;
  color: black;
}
.navHome {
  color: rgba(37, 36, 50, 1);
}

.navlink .fade {
  color: #8987a1;
}

/* Banner Styles */
.banner-container {
  display: flex;
  align-items: center;
  height: 461px;
}
.banner-container .banner-left p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.banner-left {
  display: block;
  margin-top: 85px;
}
.banner-left p {
  width: 90%;
}
.fresh {
  font-weight: bold;
  font-size: 65px;
}
/* Plant Section */

.plants .title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.plants .sub-title {
  font-size: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 49px;
  margin-bottom: 16px;
}

.flower-card {
  max-width: 270px;
  text-align: center;
}
.flower-card img {
  width: 100%;
}
.card-bottom {
  line-height: 30px;
}
.flower-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.card-button {
  background-color: #e95a08;
  padding: 20px 80px;
  color: white;
  font-weight: 600;
  border: none;
  margin-top: 30px;
}

.flower-cards-container .flower-card h3 {
  font-size: 22px;
  font-weight: 500;
}

/* Plants-Lover-Section */
.Plants-Lover-Section {
  display: flex;
  margin-top: 200px;
}
.Plants-Lover-Section-left {
  height: 600px;
  display: block;
  position: relative;
  margin-right: 40px;
}
.Plants-Lover-Section-left img {
  height: fit-content;
}

.Plants-Lover-Section-left .badge {
  height: 286px;
  width: 286px;
  position: absolute;
  left: 96%;
  top: 3%;
  transform: translate(-50%, -50%);
}
.Plants-Lover-Section-right {
  align-items: center;
  margin: 40px;
}
.Plants-Lover-Section-right-container {
  margin: 38px 0 38px 60px;
  width: 540px;
}
.Plants-Lover-Section-right-container h1 {
  font-weight: bold;
  font-size: 50px;
}
/* Plant Lover Section */
.headings {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
.deal-heading-bottom {
  font-size: 22px;
  font-weight: 500;
  color: #8987a1;
  text-align: center;
  margin-top: 16px;
}
.dealing-container {
  height: 400px;
  margin-top: 120px;
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
}
.dealing-left {
  height: 367px;
  width: 25%;
}

.pic1 {
  background: linear-gradient(rgba(123, 61, 61, 0.3), rgba(97, 66, 66, 0.3)),
    url(assets/deal-bloom.png) no-repeat;
  width: 366px;
  height: 190px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.bloom {
  width: 270px;
  color: white;
}

.pic2 {
  background: linear-gradient(rgba(123, 61, 61, 0.3), rgba(97, 66, 66, 0.3)),
    url(assets/deal-ana.png) no-repeat;
  width: 366px;
  height: 190px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ana {
  width: 270px;
  color: white;
}
.dealing-right {
  background: linear-gradient(rgba(123, 61, 61, 0.3), rgba(97, 66, 66, 0.3)),
    url(assets/deal-zabo.png) no-repeat;
  width: 753px;
  height: 410px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.zabo h4 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.zabo span u {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

/* Join Section */
.joint {
  max-width: 1440px;
}
.bg-pic {
  background-image: url(assets/news-letter-bg.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1440px;
  height: 530px;
  margin: 0px auto;
}
.join {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.email-btn {
  display: flex;
  height: 50px;
  margin-top: 30px;
}
.input-section {
  padding: 15px 500px 15px 15px;
  border: none;
  display: block;
}
.suscribe {
  padding: 15px 53px;
  background-color: #e95a08;
  color: white;
  border: none;
  margin-left: 0px;
  display: block;
}
/* Footer Section */

.Footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110px;
}
.left-part-des {
  margin-top: 16px;
  color: #8987a1;
  font-size: 22px;
  font-weight: 600;
  width: 360px;
}
.middle-list-part1 ul li,
.middle-list-part2 ul li {
  line-height: 60px;
  list-style: none;
  color: #8987a1;
}
.right-part-logo {
  width: 300px;
}
.right-part-logo img {
  margin-left: 35px;
}
.right-part-logo .weird {
  margin-bottom: 10px;
}
/* For Iphone 14 & 15 Pro Max */
@media screen and (max-width: 536px) {
  .navbar-container {
    flex-direction: column;
  }
  /* .navlinks :nth-child(1),
  .navlinks :nth-child(2) {
    display: none;
  } */
  .banner-container {
    margin-top: 120px;
    flex-direction: column-reverse;
  }
  .flower-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .Footer-container {
    grid-template-columns: 1fr;
    margin-left: 10px;
    gap: 0px;
  }
  .Plants-Lover-Section {
    flex-direction: column;
  }
  .Plants-Lover-Section-left img {
    margin-left: 10px;
    margin-right: 10px;
  }
  .badge {
    display: none;
  }
}
